doctype html
// The new doctype
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  title Pledge Confirmation | Atlas Wildlife Sanctuary
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='public/css/bootstrap.css')
header
  .navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
    .container
      a.navbar-brand(href='../') Atlas Wildlife Rescue
main(role='main')
  hr
  .container.pledge
    hr
    .row
      .col-md-12
        h2 Thank You, #{name}!
        p.lead
          | You donated $#{amount}. Thanks to supporters like you, we have raised #{total} to date!
    hr
  footer.container
    p.float-right
      a(href='#') Back to top
    p
      | &copy; 2020 Atlas Wildlife 
      a(href='#') Privacy
      |  &middot; 
      a(href='#') Terms
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
script(type='text/javascript' src='https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js')
